 body {
  margin: 0;
  padding-top: 70px;
}

.container{
	width: 100%;
}

@media (min-width: 720px) {
	#map 
	{
	  height: 1080px;
	  position: relative;
	  width: 100%;
	}
}

@media (min-width: 1200px) {
	#map {
	  height: 800px;
	  position: relative;
	  width: 100%;
	}	
}

.maps-frame {
	  height: 430px;
	  width: 100%;
	}

.kd-tabbed-vert.header-links .kd-tabbutton a {
  color: #757575;
  display: inline-block;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
  padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
  color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
  text-decoration: none;
}

p.top-desc {
  padding: 1em 1em .1em 1em;
}

p.bottom-desc {
  padding: 0em 1em 1em 1em;
}

button.route{
  margin-right: 5px;
}

div#routes{
	margin-bottom: 1%;
}
